.vs/


*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.obj
*.log
*.recipe
*.tlog
*.pdb
*.idb

Binaries/Intermediates/
Binaries/windows-x86_64/Debug/SparkEngine-Core/
Binaries/windows-x86_64/Debug/SparkEngine-Editor/SparkEngine-Editor.exe
